*{
    margin: 0px;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto; 
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16;
    width: 750px;
    min-height: 550px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:1px solid rgb(220, 220, 220);
    box-shadow: 1px 1px 10px #ccc;
    border-radius: 25px;
}

.container{
    height: 550px;
    overflow: hidden; 
}

.container.open{
    height: 800px;
}


.header{
    text-align: center;   
}

.form{
    margin-top: 15px;
    padding-top: 25px;
    border-top: 1px solid rgb(226, 226, 226);
}


.input-group{
    padding: 10px 25px;
}

.input-group label{
    display: block;
    margin-bottom: 8px;
}

.input-group input{
    min-height: 30px;
    padding: 10px; 
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
}

.input-group input::placeholder{
    color: rgb(198, 198, 198);
}

input{
    padding: 30px 20px;
    min-width: 48.5%;
}

.required{
    color: red;
}

.btn{
    padding: 10px 20px;
    min-width: 90%;
    border: 0;
    font-size: 16;
    color: white;
    background-color: rgb(0, 115, 255);
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
   }

.btn:hover{
    background-color: rgb(0, 51, 255);
}

.btn-wrapper{
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.stats{
    text-align: center;
    margin-bottom: 20px;
}

.table-wrapper{
    padding: 3px 55px;
}

.table{
    border-collapse: collapse;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden; 
    margin-bottom: 20px;   
}


.table th{
    background-color: rgb(0, 51, 255);
    color: white;    
}

.table th, 
.table td{
    padding: 7px 30px;   
}

.table td{
    border-bottom: 1px solid #dddddd;
}

.table tr:nth-child(even){
    background-color: #f3f3f3   
}